---
import logo from '../../images/logoLight.png'
import { Image } from 'astro:assets';
import facebook from '../../icons/socials/Facebook.svg'
import instagram from '../../icons/socials/Instagram.svg'
import linkedin from '../../icons/socials/LinkedIn.svg'
import twitter from '../../icons/socials/Twitter.svg'
import youtube from '../../icons/socials/YouTube.svg'
import emailIcon from '../../icons/Email.svg'
import phoneIcon from '../../icons/Phone.svg'
import locationIcon from '../../icons/Location.svg'
import Text from '../system/Text.astro'
import Constrain from '../system/Constrain.astro'
import theDotStudioLogo from '../../images/theDotStudioLogo.svg'
import config from '../../config'


const baseURL = 'https://navigate-designer-808266.framer.app/'
---
<div
  class='w-full pt-12 flex flex-col items-center text-white bg-[rgb(15,15,16)]'>
  <div class='w-full px-2 pl-8 max-md:px-6 max-md:pl-6'>
    <Constrain class="flex flex-row max-md:flex-col justify-between">
      <div>
        <Image src={logo} alt="Glentree's Logo" class="w-[160px] h-auto self-start" />
        <div class='flex flex-row mt-6'>
          <a target="_blank" href="https://www.facebook.com/nationalcentreforexcellence" class='mr-5  flex items-center justify-center rounded-full'>
            <div class='h-[16px]'>
              <img src={facebook.src} alt="Facebook Icon" class="w-full h-full">
            </div>
          </a>
  
          <a target="_blank" href="https://twitter.com/GlentreeAcademy" class='mr-5  flex items-center justify-center rounded-full'>
            <div class='h-[16px]'>
              <img src={twitter.src} alt="Twitter Icon" class="w-full h-full">
            </div>
          </a>
          
  
          <a target="_blank" href="https://www.instagram.com/ncfeschool/" class='mr-5  flex items-center justify-center rounded-full'>
            <div class='h-[16px]'>
              <img src={instagram.src} alt="Instagram Icon" class="w-full h-full">
            </div>
          </a>
  
          <a target="_blank" href="https://www.linkedin.com/company/glentreeacademy/" class='mr-5  flex items-center justify-center rounded-full'>
            <div class='h-[16px]'>
              <img src={linkedin.src} alt="Linkedin Icon" class="w-full h-full">
            </div>
          </a>
  
          <a target="_blank" href="https://www.youtube.com/@nationalcentreforexcellence" class='mr-5  flex items-center justify-center rounded-full'>
            <div class='h-[16px]'>
              <img src={youtube.src} alt="Youtube Icon" class="w-full h-full">
            </div>
          </a>
  
  
        </div>
      </div>
  
      <div class='flex flex-row gap-6 max-md:gap-0 max-md:flex-col'>
        <!-- <div class='max-md:mt-8 max-md:mb-5 max-w-[325px]'>
          <Text type={'base'} class=' !text-[18px] max-md:!text-[16px] uppercase tracking-[2.4px] mb-7 max-md:mb-3 text-accent'>Explore</Text>
  
          <div class='flex flex-row items-center mb-3'>
            <a target='_blank' href={config.baseURL + "/admissions"} class="hover:underline">
              <Text type={'sm'}>Admission Process</Text>
            </a>
          </div>
  
          <div class='flex flex-row items-center mb-3'>
            <a target='_blank' href={config.baseURL + "/scholarship"} class="hover:underline"><Text type={'sm'}>Scholarship</Text></a>
          </div>

        </div> -->
        <!-- <div class="bg-white/20 w-[1px] h-full max-md:h-[1px] max-md:w-full"></div> -->
        <!-- <div class='max-md:mt-8 max-md:mb-5 max-w-[325px]'>
          <Text type={'base'} class=' !text-[18px] max-md:!text-[16px] uppercase tracking-[2.4px] mb-7 max-md:mb-3 text-accent'>Campuses</Text>
  
          <div class='flex flex-row items-center mb-3'>
            <a target='_blank' href={config.baseURL + '/cvr-overview'} class="hover:underline">
              <Text type={'sm'}>CV Raman Nagar</Text>
            </a>
          </div>
  
          <div class='flex flex-row items-center mb-3'>
            <a target='_blank' href={config.baseURL + '/indiranagar-overview'} class="hover:underline"><Text type={'sm'}>Indiranagar</Text></a>
          </div>
          <div class='flex flex-row items-center mb-3'>
            <a target='_blank' href={config.baseURL + '/mandur'} class="hover:underline"><Text type={'sm'}>Mandur</Text></a>
          </div>

        </div> -->
        <div class='max-md:mt-8 max-md:mb-5 max-w-[325px]'>
          <Text type={'lg'} class='mb-7 max-md:mb-3 text-[#FF557E] font-bold'>Whitefield <span class="text-white">Campus</span></Text>
  
          <div class='flex flex-row items-center mb-3'>
            <div class='w-5 flex-shrink-0'>
              <Image src={emailIcon} alt="Email Icon" class="w-full h-full">
            </div>
            <div>
              <a target='_blank' href="mailto:info@winmoreacademy.comn" class="hover:underline">
                <Text type={'sm'} class='ml-2'>info@winmoreacademy.com</Text>
              </a>
            </div>
          </div>
  
          <div class='flex flex-row items-center mb-3'>
            <div class='w-5'>
              <Image src={phoneIcon} alt="Phone Icon" class="w-full h-full">
            </div>
            <div>
              <a target='_blank' href='tel:919148449538' class="hover:underline"><Text type={'sm'} class='ml-2'>+91 91 91484 49538</Text></a>
              <a target='_blank' href='tel:919148449539' class="hover:underline"><Text type={'sm'} class='ml-2'>+91 91 91484 49539</Text></a>
            </div>
  
          </div>
          <div class='flex flex-row items-center mb-3'>
            <div class='w-5 flex-shrink-0'>
              <Image src={locationIcon} alt="Phone Icon" class="w-full h-full">
            </div>
            <a target='_blank' href='https://www.google.com/maps/search/national%2Bcentre%2Bfor%2Bexcellence/%4012.9745521%2C77.6603007%2C16z/data=%213m1%214b1' class="hover:underline"><Text type={'sm'} class='ml-2'>Survey No. 13/1, Bhaktharahalli, Nadavati Post, Hoskote Taluk, Bengaluru – 560067</Text></a>
          </div>
        </div>

        <div class='max-md:mt-8 max-md:mb-5 max-w-[325px]'>
          <Text type={'lg'} class='mb-7 max-md:mb-3 text-[#FF557E] font-bold'>Jakkur <span class="text-white">Campus</span></Text>
  
          <div class='flex flex-row items-center mb-3'>
            <div class='w-5 flex-shrink-0'>
              <Image src={emailIcon} alt="Email Icon" class="w-full h-full">
            </div>
            <div>
              <a target='_blank' href="mailto:info@winmoreacademy.com" class="hover:underline">
                <Text type={'sm'} class='ml-2'>info@winmoreacademy.com</Text>
              </a>
            </div>
          </div>
  
          <div class='flex flex-row items-center mb-3'>
            <div class='w-5'>
              <Image src={phoneIcon} alt="Phone Icon" class="w-full h-full">
            </div>
            <div>
              <a target='_blank' href='tel:919148449538' class="hover:underline"><Text type={'sm'} class='ml-2'>+91 91 91484 49538</Text></a>
              <a target='_blank' href='tel:919148449539' class="hover:underline"><Text type={'sm'} class='ml-2'>+91 91 91484 49539</Text></a>
            </div>
  
          </div>
          <div class='flex flex-row items-center mb-3'>
            <div class='w-5 flex-shrink-0'>
              <Image src={locationIcon} alt="Phone Icon" class="w-full h-full">
            </div>
            <a target='_blank' href='https://g.page/r/CawSaTC_IdjHEBA' class="hover:underline"><Text type={'sm'} class='ml-2'>Survey No. 37/1, Nehru Nagar Shivannahalli, off Jakkur-Yalahanka Road, Bengaluru – 560064</Text></a>
          </div>
        </div>
       
        <!-- <div class='max-md:mt-8 max-md:mb-5 max-w-[325px]'>
          <Text type={'base'} class='text-green-300 mb-7 max-md:mb-3 font-semibold'>Whitefield</Text>
  
          <div class='flex flex-row items-center mb-3'>
            <div class='w-5 flex-shrink-0'>
              <Image src={emailIcon} alt="Email Icon" class="w-full h-full">
            </div>
            <a target='_blank' href="mailto:admission.wf@glentreeacademy.coms" class="hover:underline">
              <Text type={'sm'} class='ml-2'>admission.gaw@glentreeacademy.com</Text>
            </a>
          </div>
  
          <div class='flex flex-row items-center mb-3'>
            <div class='w-5'>
              <Image src={phoneIcon} alt="Phone Icon" class="w-full h-full">
            </div>
            <a target='_blank' href='tel:+917676310000' class="hover:underline"><Text type={'sm'} class='ml-2'>+91 7676310000</Text></a>
  
          </div>
  
          <div class='flex flex-row items-start mb-3 '>
            <div class='w-[2.25rem]'>
              <Image src={locationIcon} alt="Location Icon" class="w-full h-full">
            </div>
            <a target='_blank' href="https://goo.gl/maps/1RTX2F4ZwJipSuEy9">
              <Text type={'sm'} class='ml-2'>Nallurhalli Rd, Palm Meadows, Nallurhalli, Whitefield, Bengaluru, Karnataka 560066</Text>
            </a>
          </div>
        </div>
        <div class='ml-16 max-md:ml-0 max-w-[325px]'>
          <Text type={'base'} class='text-green-300 mb-7 max-md:mb-3 font-semibold'>Sarjapur</Text>
  
          <div class='flex flex-row items-center mb-3'>
            <div class='w-5'>
              <Image src={emailIcon} alt="Email Icon" class="w-full h-full">
            </div>
            <a target='_blank' href="mailto:admission.gas@gltreeacademy.com" class="hover:underline w-[90%]">
              <Text type={'sm'} class='ml-2'>admission.gas@glentreeacademy.com</Text>
            </a>
          </div>
  
          <div class='flex flex-row items-center mb-3'>
            <div class='w-5'>
              <Image src={phoneIcon} alt="Phone Icon" class="w-full h-full">
            </div>
            <a target='_blank' href='tel:+919632104368' class="hover:underline"><Text type={'sm'} class='ml-2'>+91 9632104368</Text></a>
          </div>
  
          <div class='flex flex-row items-start mb-3 '>
            <div class='w-[2.25rem] mr-1'>
              <Image src={locationIcon} alt="Location Icon" class="w-full h-full">
            </div>
            <a target='_blank' href="https://goo.gl/maps/2WjJv85fKSJg6yfm6">
              <Text type={'sm'} class='ml-2'>No.36/5,Halanayakanahalli,Varthur Hobli Bengaluru East Taluk,Bengaluru, Karnataka 560035</Text>
            </a>
          </div>
        </div> -->
        
      </div>
    </Constrain>
  </div>

  <div class='w-full h-[1px] bg-gray-500/40 mt-12 max-md:mt-5 max-md:w-[85%]'></div>

  <div class='py-6 font-normal px-16 w-full  max-md:px-6 text-center'>
    <Constrain class="flex flex-row max-md:flex-col items-center justify-between">
      <div class="flex flex-row items-center max-md:flex-col">
        <Text type={'sm'}>
          Copyright © 2023 &nbsp;
        </Text>
        <!-- <Text type={'sm'} class="ml-1 max-md:ml-0">
          <span class="max-md:hidden">{' • '}</span>
          <a 
            href="/privacy-policy" 
            class="underline"
          >Privacy Policy</a>
        </Text> -->
      </div>
      <div class="max-md:pt-3 pt-0"></div>
      <div>
        <a href="https://thedotstudio.in/" target="_blank">
          <Image src={theDotStudioLogo} class="w-[250px] max-md:w-[200px]" alt={"The Dot Studio Logo"} />
        </a>
      </div>
    </Constrain>
  </div>
</div>