---
import QuoteIcon from '../../icons/quoteIcon.png'

import heroTestimonial from '../../images/heroTestimonial.png'
import testimonial1 from '../../img/testimonial1.png'
import testimonial2 from '../../img/testimonial2.png'
import Button from '../system/Button.astro';
import Constrain from '../system/Constrain.astro';
import Text from '../system/Text.astro';
import { Image } from 'astro:assets';

import TestimonicalCard from './TestimonialCard.astro';

import YoutubeEmbed from '../YoutubeEmbed.astro'

const testimonials = [
    {
      image: testimonial1,
      quote: "We are parents of Aarav Patil (5th std) and Aayush Patil (1st std). The school's commitment to both offline and virtual classes, vibrant extracurricular activities, and academically competitive syllabus demonstrate its dedication to holistic education",
      author: 'Rohini and Kishor Patil',
      role: 'Parents'
    },
    {
      image: testimonial2,
      quote: "Grateful for the positive impact on my son, Rohith – his learning attitude and confidence have flourished under your dedicated guidance. The supportive environment and regular communication from the Winmore Academy team are truly appreciated.",
      author: 'Shwetha',
      role: 'M/O Rohith S Manegar, Class VII'
    },
  ]

---
<div class='bg-white p-14 pt-24 max-md:pt-2 px-20 max-md:px-4 max-md:p-10 max-md:pb-0'>
  <Constrain class="relative flex flex-col items-center max-md:items-center max-md:text-center">

    <!-- <Text type={'subtitle'} class='text-black text-center w-full max-md:hidden' style={{ letterSpacing: '0.1em', opacity: 0.6 }}>Hear From Our Community</Text>
    <Text type={'h2'} class='text-black mt-3 relative max-md:hidden'>
      See why <span class='text-accent2'>Glentree</span> is trusted
      <div class='w-[84px] h-[67px] absolute -top-16 -left-28'>
        <Image src={QuoteIcon} class='w-full' alt="Left Quote" />
      </div>
      <div class='w-[84px] h-[67px] absolute -bottom-2 -right-32 -scale-100'>
        <Image src={QuoteIcon} class='w-full' alt="Right Quote" />
      </div>
    </Text> -->

    <Text type={'h2'} class='text-black mt-3 relative max-md:block'>
      <div>
        <span class="text-accent">Our Success </span>Stories
      </div>
      <div class='w-[84px] h-[67px] absolute -top-[10px] -left-[140px] text-[128px] font-bold text-white' style={{
        textShadow: '0 0 3px rgba(59, 138, 224, 60%), -6px 4px 2px rgba(59, 138, 224, 0.64)'
      }}>
        “
      </div>
      <div class='w-[84px] h-[67px] absolute top-[70px] -right-[150px] text-[128px] font-bold text-white -scale-x-100' style={{
        textShadow: '0 0 3px rgba(59, 138, 224, 60%), 6px 4px 2px rgba(59, 138, 224, 0.64)'
      }}>
        “
      </div>
    </Text>
    <Text type="base" class="mt-1 font-bold text-center">Shaping a Brighter Future for Your Child.</Text>
    <div class="max-md:p-0 p-6" />

    <div class="w-[70%] relative left-[20%] h-[2px] self-start max-md:mt-12" style={{
      background: 'linear-gradient(to left, rgb(3, 55, 112) 0%, rgb(162, 205, 251) 100%)'
    }}></div>

    <div class="flex flex-row gap-7 max-sm:flex-col max-sm:gap-0 mt-16 max-md:mt-2">
      {testimonials.map(item => {
        return (
          <TestimonicalCard 
              quote={item.quote}
              author={item?.author}
              role={item?.role}
              image={item.image}
              ctaText={item.ctaText}
              ctaLink={item.ctaLink}
              className="bg-transparent"
          />
        )
      })}
    </div>
    <div class="max-md:p-0 p-[40px]" />

    <div class="w-[70%] relative left-[5%] h-[2px] self-start" style={{
      background: 'linear-gradient(to right, rgb(3, 55, 112) 0%, rgb(162, 205, 251) 100%)'
    }}></div>

    <!-- <iframe width="330" height="186" src="https://www.youtube.com/embed/" title="Glentree Student Testimonial | Glentree Academy" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> -->
  
    <!-- <YoutubeEmbed embedId={'d-A17Q46EvI'} videoId='0' /> -->
    <YoutubeEmbed embedId={'GjJE1dh_wA4'} videoId='1' />
    <YoutubeEmbed embedId={'9o0X53CHTTE'} videoId='2' />
  </Constrain>
  </div>
