---
import Layout from '../layouts/Layout.astro';
import TopNavigationBar from '../components/TopNavigationBar.astro';

import Facilities from '../components/register/facilities.astro';
import Campus from '../components/landingPage/campus.astro';

import Testimonial from '../components/landingPage/Testimonial.astro';
import Scholarship from '../components/register/scholarship.astro';
import '../global.css'

import '@fontsource/nunito-sans';
import Footer from '../components/landingPage/Footer.astro';
import Text from '../components/system/Text.astro';
import { Image } from 'astro:assets';
import AdmissionMarquee from '../components/campus/admissionMarquee.astro'

import Constrain from '../components/system/Constrain.astro';
import RegisterForm from '../components/register/registerForm.astro'
import Slide from '../components/system/Slide.astro';
import skyBG from '../img/skyBG.png'
import awards from "../images/awards.svg"
import blobBG from '../images/blobBG.svg'

import slide1 from "../img/slides/1.png";
import slide2 from "../img/slides/2.png";
import slide3 from "../img/slides/3.png";

import slide1MB from "../img/slides/1Mb.png";
import slide2MB from "../img/slides/2Mb.png";
import slide3MB from "../img/slides/3Mb.png";



import PhoneWhite from '../icons/PhoneWhite.svg'
import Faqs from '../components/faqs.astro';
import AcademicsBox from '../components/AcademicsBox.astro';



import prePrimary from '../img/academics/preview/prePrimary.webp'
import grade3to5 from '../img/academics/preview/grade3to5.webp'
import grade6to8 from '../img/academics/preview/grade6to8.webp'
import grade9to12 from '../img/academics/preview/grade9to12.jpg'

import whyWinmore1 from '../img/school/whyWinmore1.jpg'
import whyWinmore2 from '../img/school/whyWinmore2.jpg'
import whyWinmore3 from '../img/school/whyWinmore3.jpg'
import whyWinmore4 from '../img/school/whyWinmore4.jpg'
import whyWinmore5 from '../img/school/whyWinmore5.jpg'

import crimsonEdgeBG from '../img/school/crimsonEdgeBG.png'

import AcademicCard from '../components/AcademicCard.astro';

import underlineSVG from '../img/underline.svg'
import BentoGrid from '../components/BentoGrid.astro';
const faqs = [
  {
    question: 'How do I apply for admission to Glentree Academy?',
    answer: ''
  },
  {
    question: 'What are the admission requirements?',
    answer: ''
  },
  {
    question: 'Is there an application deadline for admissions?',
    answer: ''
  },
  {
    question: 'What are the tuition fees for the programs?',
    answer: ''
  },
  {
    question: 'How do I schedule a campus visit?',
    answer: ''
  },
]

---

<Layout title="Apply Now | Best CBSE School in Bangalore | National Center for Excellence">
  <main class="flex flex-col min-h-[98svh] max-md:h-auto w-screen relative">
    <div 
      class="flex-1 flex flex-col main-container max-md:h-auto min-h-[98svh] w-screen"
      id="scroll-area"
      style={{
        overflowY: 'overlay',
        overflowX: 'hidden',
      }}
    >

    
      <div class='flex flex-col max-md:h-auto min-h-[100svh] relative'>
        <TopNavigationBar hideMenu applyNowButtonId="register-page-apply-now" />
        <div id="register-form-container-mobile" />
        <div class="h-[80px] w-full bg-white"></div>

        <!-- <div class="bg-yellow p-2 text-center text-black flex flex-row max-md:flex-col justify-center items-center group">
          <Text type='regular' class="font-bold uppercase tracking-widest">Limited-period offer</Text>
          <div class="px-2" />
          <Text type='base' class="font-bold">Rs. 10,000 off on Admission Fees</Text>
        </div> -->

        <div class="w-full flex-1 h-full relative p-12 py-2 flex flex-row max-md:flex-col justify-between items-center max-md:p-8 max-md:px-4">
          <div class="w-full h-full absolute top-0 left-0 max-md:hidden">
            <Slide
              slides={[
                { image: slide1, position: 'center' },
                { image: slide2, position: 'bottom' },
                { image: slide3, position: 'center' }
              ]}
              id="resiter-page-hero"
            />
          </div>

          <div class="w-full absolute top-0 left-0 max-md:block hidden h-[74vh] z-[2]">
            <Slide
              slides={[
                { image: slide1MB, position: 'top' },
                { image: slide2MB, position: 'top' },
                { image: slide3MB, position: 'top' }
              ]}
              id="resiter-page-hero-mb"
            />
          </div>

          <div 
            class="
              absolute w-full h-[40vh] top-0 left-0
              hidden
              max-md:block
              bg-red-100
              z-[5]
              opacity-60
            "
            style={{
              background: 'linear-gradient(0deg, rgba(59, 138, 224, 0.00) 72.74%, #3B8AE0 90.29%);',
            }}
          />
          <div 
            class="
              absolute w-full h-full top-0 left-0
              hidden
              max-md:block
              bg-accent
              z-[1]
            "
          >
            <!-- <Image src={skyBG} class="object-cover object-center" alt="Sky background" width={800} /> -->
          </div>

          <div class="max-md:p-[29vh] max-md:block hidden"  />

          <div class="h-full flex flex-row items-end relative z-20 self-end max-md:self-start max-md:w-full justify-center">
            <div class="flex flex-col items-start mb-10 max-md:mb-0">
              <Text type="h1" class="text-white leading-[120%] max-md:text-center">A New Beginning with <br/>a <span class="max-md:!text-white">Promising future</span></Text>
              <!-- <Text type="lg" class="text-white">Registrations Open for AY 2024-25</Text> -->
            </div>
          </div>
          <div class="max-md:py-1" />
          <RegisterForm />
        </div>
        <!-- <AdmissionMarquee class="max-md:!hidden" /> -->
        <!-- <div class="w-[50px] h-[50px] down-arrow-button transition-all duration-500 rounded-[50%] bg-accent border-accent/60 border-[4px] absolute top-[97vh] left-[50%] z-[9999] flex items-center justify-center max-md:hidden">
          <div class="w-[18px] h-[9px] down-arrow-icon">
            <Image src={DownArrow} alt="Down Arrow" class="w-full h-full object-cover" />
          </div>
        </div> -->
      </div>



   
      

    <div class='w-full p-14 pb-20 text-black bg-white flex flex-col items-center max-md:p-6'>
      
        <Text type="subtitle" class='text-accent3'>Why Winmore?</Text>
        <Text type='h2' class='mt-3 text-black'>The right choice{' '}for <span class='text-accent'>your child</span></Text>
        <!-- <Text type="base" class="mt-6 text-center">Lorem ipsum dolor sit amet consectetur. Convallis nisl et odio massa curabitur vel.<br/> Nulla eu eu in justo nunc semper feugiat vitae diam.</Text> -->

      <div class="flex flex-col justify-center gap-[40px] max-md:gap-3 w-full mt-[40px]">
        <div class="flex flex-row justify-center max-md:flex-col w-full gap-[48px] text-white">
          <AcademicCard
            link="https://navigate-designer-808266.framer.app/academic-stages#pp-grade2"
            title="Holistic <span>Development</span>"
            description="Right Mix of Curricular and Co-Curricular Activities."
            image={whyWinmore5}
          />
          <AcademicCard
            link="https://navigate-designer-808266.framer.app/academic-stages#grade3-grade5"
            title="<span>Proven</span> and <span>Tested</span><br/> Centralized Curriculum"
            description="CBSE school with balanced traditional & contemporary curriculum to foster growth in all its students."
            image={whyWinmore2}
          />
        </div>
        <div class="flex flex-row justify-center max-md:flex-col w-full gap-[48px] text-white">
          <AcademicCard
            link="https://navigate-designer-808266.framer.app/academic-stages#grade6-grade8"
            title="<span>Innovative</span> and <span>Challenging</span><br/> learning Methodologies"
            description="Facilitate excellence through critical thinking and profound learning."
            image={whyWinmore3}
          />
          <AcademicCard
            link="https://navigate-designer-808266.framer.app/academic-stages#grade9-grade12"
            title="<span>Faculty</span> Enrichment Program"
            description="Regular teacher training and curriculum workshops"
            image={whyWinmore1}
          />
        </div>
      </div>
    </div>

    <Facilities />

    <div class="p-24 max-md:p-8 counter-stat relative">

      <Image src={crimsonEdgeBG} alt="blob background" class="absolute top-0 left-0 w-full h-full object-cover -z-10" />
      
      <div class="gap-5 flex max-md:flex-col max-md:items-stretch max-md:gap-0">
        <div class="flex flex-col items-stretch w-[33%] max-md:w-full max-md:ml-0">
          <div class="items-stretch flex grow flex-col px-5 max-md:px-0 max-md:mt-0">
            <Text type='h2' class='text-rose-400'>Experience the Crimson Edge</Text>
            <Text type='base' class='text-white max-md:mt-3'>Pan India Presence</Text>
          </div>
        </div>
        <div class="flex flex-col items-stretch w-[67%] ml-5 max-md:w-full max-md:ml-0">
          <div class="my-auto px-5 max-md:px-0 max-md:max-w-full max-md:mt-10">
            <div class="gap-5 flex max-md:w-full max-md:items-stretch max-md:gap-3 max-md:text-center">
              <div class="flex flex-col items-stretch w-[37%] max-md:w-[530px] max-md:ml-0">
                <div class="justify-center items-center flex grow flex-col max-md:mt-0">
                  <Text type='h1' class='text-white flex flex-row'>0<div class='text-white' data-counter="7">0</div></Text>
                  <Text type='base' class='text-white'>Locations in India</Text>
                </div>
              </div>
              <div class="flex flex-col items-stretch w-[46%] ml-5 max-md:w-full max-md:ml-0">
                <div class="justify-center items-center flex grow flex-col max-md:mt-0">
                  <Text type='h1' class='text-white flex flex-row'><div class='text-white flex flex-row' data-counter="15000">14893</div>+</Text>
                  <Text type='base' class='text-white'>Students</Text>
                </div>
              </div>
              <div class="flex flex-col items-stretch w-[16%] ml-5 max-md:w-full max-md:ml-0">
                <div class="justify-center items-center flex grow flex-col max-md:mt-0">
                  <Text type='h1' class='text-white flex flex-row'><div class='text-white flex flex-row' data-counter="16">9</div></Text>

                  <Text type='base' class='text-white'>Schools</Text>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <BentoGrid />
  

    

    <!-- <LFL /> -->


    <Campus />

      



    <!-- <Scholarship /> -->
    <Testimonial />


    <!-- <div class="w-full items-center flex flex-col bg-white">
      <div class="p-4" />

      <Text type="subtitle">THINGS TO NOTE</Text>
      <Text type='h2' class='mt-3 text-accent'>FAQs</Text>

      <div class="p-4" />
      <Faqs />
      <div class="p-3" />
    </div> -->


    

    <!-- <BigAdmissionCTA /> -->

    <!-- <GlentreeFamily /> -->
    <Footer />
    </div>


  </main>
</Layout>

<style>
  .float{
    position:fixed;
    /* background-color:#25d366; */
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    /* box-shadow: 2px 2px 3px #999; */
    z-index:100;
  }

  .float > div {
    opacity: 0;
    transition: 0.6s all ease-in-out
  }
  .float a:hover ~ div {
    opacity: 1;
  }

  .my-float{
    margin-top:16px;
  }

  .down-arrow-button {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
    overflow: hidden;
  }
  
  .down-arrow-button:before {
    content: '';
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(
        120deg,
        rgba(255,255,255, 0) 30%,
        rgba(255,255,255, .8),
        rgba(255,255,255, 0) 70%
    );
    top: 0;
    left: -100px;
    opacity: 0.6;
    animation: shineDownArrow 3s ease-out infinite;
  }
  
  @keyframes shineDownArrow {
    0% {left: -100px}
    20% {left: 100%}
    100% {left: 100%}
  }
</style>

<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '576465059806171');
  fbq('track', 'PageView');
</script>


<script>
  const counter = (EL) => {

      const duration = 1000;

      const start = parseInt(EL.textContent, 10);
      const end = parseInt(EL.dataset.counter, 10); 

      if (start === end) return; 

      const range = end - start;
      let curr = start;

      const timeStart = Date.now();

      const loop = () => {
        let elaps = Date.now() - timeStart;
        if (elaps > duration) elaps = duration; 
        const frac = elaps / duration; 
        const step = frac * range;
        curr = start + step; 
        EL.textContent = Math.trunc(curr); 
        if (elaps < duration) requestAnimationFrame(loop); 
      };

      requestAnimationFrame(loop); 
  };
  function isInViewport(element) {
      const rect = element.getBoundingClientRect();
      console.log(rect.bottom)
      return (
          rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) 
      );
  }
  function checkElementVisibility() {
    const element = document.querySelector('.counter-stat');
    if (isInViewport(element)) {
      document.querySelectorAll("[data-counter]").forEach(counter);

    } else {
        console.log('Element is not in view');
    }
  }

checkElementVisibility();

// Then setup scroll event listener
window.addEventListener('scroll', checkElementVisibility)



  // @@ts-ignore

  const academicBoxes = document.querySelectorAll('.academic-boxes')
  document.querySelectorAll('.academic-boxes').forEach((academicBox) => {
    academicBox.addEventListener('mouseenter', () => {
      academicBox.classList.add('hovered')
    })
    academicBox.addEventListener('mouseleave', () => {
      academicBox.classList.remove('hovered')
    })
  })

  const pixelContactTargets = document.querySelectorAll('[data-pixel-contact-target]')

  pixelContactTargets.forEach((pixelContactTarget) => {
    pixelContactTarget.addEventListener('click', () => {
      fbq('track', 'Contact');
    })
  })

  // dev script temp
  const applyNowButtons = document.querySelectorAll(`[data-apply-now-button="register-page-apply-now"]`)
  applyNowButtons.forEach((applyNowButton => {
    applyNowButton?.addEventListener('click', () => {
      if (window.innerWidth > 768) {
        const registerFormContainer = document.getElementById('register-form-container-desktop')
        registerFormContainer?.scrollIntoView({ behavior: 'smooth' })
      } else {
        const registerFormContainer = document.getElementById('register-form-container-mobile')
        registerFormContainer?.scrollIntoView({ behavior: 'smooth' })
      }
    })
  }))

  import collapsible, { openCollapsible } from '../components/admissions/collapsible'
  collapsible('.collapsible', null)

  const downArrowButton = document.querySelector('.down-arrow-button')
  document.addEventListener('scroll', (e) => {
    // after scrolling 100px, show the button
    if (window.scrollY > window.innerHeight / 5) {
      downArrowButton?.classList.add('opacity-0')
    }
  })
  const mainContainer = document.querySelector('.main-container')
  if (mainContainer) {
  }
</script>
