---
import { Image } from "astro:assets";
import Text from "./system/Text.astro";

const {
  title,
  description = '',
  image
} = Astro.props
---
<div class="
  flex-1 relative group
  academic-boxes
  h-[330px]
  max-w-[511px]
  [&_.text-appear]:delay-0
  [&_.text-appear]:duration-300
  [&.hovered_.text-appear]:delay-300
  [&_.text-appear.text-appear-1]:delay-0          
  [&.hovered_.text-appear.text-appear-1]:delay-[400ms]
  [&.hovered_.text-appear]:duration-300
  rounded-[8px]
  overflow-hidden
">
  <Image src={image} alt={title} width={700} class="w-full object-cover object-center h-full max-md:h-[300px]" />
  <div class="hidden relative z-20 max-md:flex flex-col items-center bg-accent py-4">
    <Text type="h4" class='bottom-[37px] max-md:text-[20px] left-[20px] text-center transition-all'>
      <div set:html={title}></div>
    </Text>
    <Text type="base" class='text-center font-normal w-[90%] mt-2'>{description}</Text>
  </div>
  <!-- <img src="https://framerusercontent.com/images/U6KmUPsgJoTc1gPAyNjhc9Wj4.png" alt="" srcset="https://framerusercontent.com/images/U6KmUPsgJoTc1gPAyNjhc9Wj4.png?scale-down-to=512 512w, https://framerusercontent.com/images/U6KmUPsgJoTc1gPAyNjhc9Wj4.png?scale-down-to=1024 1024w, https://framerusercontent.com/images/U6KmUPsgJoTc1gPAyNjhc9Wj4.png 1370w" sizes="min(447px, 100vw)" style="display: block; width: 100%; height: 100%; border-radius: inherit; object-position: center center; object-fit: cover; image-rendering: auto;" /> -->
  <div class="absolute left-0 max-md:hidden z-10 bottom-[30px] w-[0px] h-[60px] group-hover:w-full group-hover:h-[85%] transition-all" style={{
    backdropFilter: 'blur(6px)',
    backgroundColor: 'rgba(234, 22, 73, 0.75);',
    transitionTimingFunction: 'cubic-bezier(0.06, 0.34, 0.2, 1)',
    transitionDuration: '450ms',
  }}></div>
  <div class="absolute w-full h-[50%] bottom-0 left-0" style={{
    background: 'linear-gradient(181deg,rgba(0, 0, 0, 0.00) 2.3%, #000 99.41%)'
  }}>

  </div>
  <Text type="h4" class='absolute text-center w-full max-md:hidden text-[30px] bottom-[22px] group-hover:opacity-0 group-hover:-translate-y-4 transition-all [&_span]:text-accent2Light' style={{
    transitionTimingFunction: 'cubic-bezier(0.06, 0.34, `0.2, 1)',
    transitionDuration: '250ms',
  }}>
      <div set:html={title}></div>
  </Text>
  <div class="absolute w-full z-20 max-md:hidden h-full top-0 left-0 flex flex-col items-center justify-center px-3">
    <Text type="h3" class='text-center text-appear opacity-0 translate-y-4 group-hover:opacity-100 group-hover:translate-y-0 transition-all [&_span]:text-white' style={{
      transitionTimingFunction: 'cubic-bezier(0.06, 0.34, 0.2, 1)',
    }}>
      <div set:html={title}></div>
    </Text>
    <div class="mt-2" /> 
    <Text type="sm" class='text-center text-appear text-appear-1 font-normal opacity-0 translate-y-4 group-hover:opacity-100 group-hover:translate-y-0 transition-all' style={{
      transitionTimingFunction: 'cubic-bezier(0.06, 0.34, 0.2, 1)',
    }}>{description}</Text>
  </div>
</div>