---
import Gallery from "./Gallery.astro";
import Text from "./system/Text.astro";

const props = Astro.props
const slideId = 'slide' + props.id
const gallery = props.gallery
---

<Gallery {...props}>
  <div class="bg-black/80 backdrop-blur-sm max-md:relative max-md:bg-black max-md:px-[15px] absolute bottom-[0px] py-[25px] px-[87px] w-full" slot="caption" >
    <div
      class="
        text-white
        flex flex-row justify-between items-center
      ">
      <div 
        data-slide-pb 
        data-target-slideId={slideId}
        class="w-10 h-10 max-md:w-10 max-md:h-10 cursor-pointer flex-shrink-0 mr-5" 
      >
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" fill="none">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M24 44C12.9543 44 4 35.0457 4 24C4 12.9543 12.9543 4 24 4C35.0457 4 44 12.9543 44 24C44 35.0457 35.0457 44 24 44ZM28.0607 16.9393C27.4749 16.3536 26.5251 16.3536 25.9393 16.9393L19.9393 22.9393C19.3536 23.5251 19.3536 24.4749 19.9393 25.0607L25.9393 31.0607C26.5251 31.6464 27.4749 31.6464 28.0607 31.0607C28.6464 30.4749 28.6464 29.5251 28.0607 28.9393L23.1213 24L28.0607 19.0607C28.6464 18.4749 28.6464 17.5251 28.0607 16.9393Z" fill="white"/>
        </svg>
      </div>
      <div class="text-center">
        <Text type="h4" class="text-white max-md:text-[18px] font-bold" data-caption-id={slideId} data-slides-captions={[gallery.map(slide => slide.caption)]}>{gallery[0].caption}</Text>
        <div class="p-1" />
        <Text type="base" class="text-[#F6D58D] max-md:hidden" data-description-id={slideId} data-slides-description={gallery.map(slide => slide.description).join('___')}>{gallery[0].description}</Text>
      </div>
      <div
        data-slide-nb
      data-target-slideId={slideId}
        class="-scale-100 w-10 h-10 max-md:w-10 max-md:h-10 cursor-pointer flex-shrink-0 ml-5"
      >
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" fill="none">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M24 44C12.9543 44 4 35.0457 4 24C4 12.9543 12.9543 4 24 4C35.0457 4 44 12.9543 44 24C44 35.0457 35.0457 44 24 44ZM28.0607 16.9393C27.4749 16.3536 26.5251 16.3536 25.9393 16.9393L19.9393 22.9393C19.3536 23.5251 19.3536 24.4749 19.9393 25.0607L25.9393 31.0607C26.5251 31.6464 27.4749 31.6464 28.0607 31.0607C28.6464 30.4749 28.6464 29.5251 28.0607 28.9393L23.1213 24L28.0607 19.0607C28.6464 18.4749 28.6464 17.5251 28.0607 16.9393Z" fill="white"/>
        </svg>
      </div>
    </div>
    <div class="max-md:pt-2"></div>
    <Text type="base" class="text-[#F6D58D] max-md:block hidden max-md:text-center" data-description-id={slideId} data-slides-description={gallery.map(slide => slide.description).join('___')}>{gallery[0].description}</Text>
  </div>
</Gallery>