---
import Constrain from "../system/Constrain.astro";
import Text from "../system/Text.astro";

import video1 from '../../images/campus/gaw/earthLab/1.mp4'
import video2 from '../../images/campus/gaw/earthLab/2.mp4'
import video3 from '../../images/campus/gaw/earthLab/3.mp4'

import thumb1 from '../../images/campus/gaw/earthLab/1.jpeg'
import thumb2 from '../../images/campus/gaw/earthLab/2.jpeg'
import thumb3 from '../../images/campus/gaw/earthLab/3.jpeg'


---
<div class="py-14 max-md:py-8 text-center flex flex-col items-center" style={{ background: 'linear-gradient(249.28deg, #FBFFF7 0%, #F6FFED 0%, #FFFAF7 100%)' }} >
  <Text type={'subtitle'} style={{ opacity: 0.8, color: '#121212' }}>OUR LATEST INITIATIVE</Text>
  <Text type={'h2'} class='text-black mt-6'>
    Introducing: <span class='text-green-400'>{' '}Earth Lab </span>
  </Text>
  <Text type={'base'} class='mt-7 font-medium text-black w-[60%] max-md:w-[90%]'>
    We introduce children to the fundamentals of agriculture and gardening. They learn about various soil types and soil-less media for greenery, growing microgreens, composting, plant care, and harvesting. 
  </Text>
  <div class="px-20 w-full max-md:px-4">
    <Constrain>
      <div class='w-full mt-8 flex flex-row gap-3 max-md:flex-col'>
        <div class='h-[507px] w-full rounded-md overflow-hidden relative'>
          <!-- <video src={video1} autoplay loop /> -->
          <video class="lazy play-on-hover w-full h-full object-cover" loop playsinline disableRemotePlayback poster={thumb1.src}>
            <!-- <source data-src="one-does-not-simply.webm" type="video/webm"> -->
            <source data-src={video1} type="video/mp4">
          </video>
          <div class="w-full pointer-events-none bottom-0 left-0 h-64 bg-gradient-to-b from-green-800/0 to-green-800/80 rounded-xl z-10 absolute flex justify-end items-end p-5">
            <Text type="regular" class="text-left font-medium">
              Teaching urban gardening and vertical farming through microgreens and house plants.
            </Text>
          </div>
        </div>
        <div class='h-[507px] w-full rounded-md overflow-hidden relative'>
          <video class="lazy play-on-hover w-full h-full object-cover" loop playsinline poster={thumb2.src}>
            <source data-src={video2} type="video/mp4">
          </video>
          <div class="w-full pointer-events-none bottom-0 left-0 h-64 bg-gradient-to-b from-green-800/0 to-green-800/80 rounded-xl z-10 absolute flex justify-end items-end p-5">
            <Text type="regular" class="text-left font-medium">
              Teaching students to grow microgreens promotes healthy eating habits and nutrition education. 
            </Text>
          </div>
        </div>
        <div class='h-[507px] w-full rounded-md overflow-hidden relative'>
          <video class="lazy play-on-hover w-full h-full object-cover" loop playsinline muted poster={thumb3.src}>
            <source data-src={video3} type="video/mp4">
          </video>
          <div class="w-full pointer-events-none bottom-0 left-0 h-64 bg-gradient-to-b from-green-800/0 to-green-800/80 rounded-xl z-10 absolute flex justify-end items-end p-5">
            <Text type="regular" class="text-left font-medium">
              Tending to plants and observing their growth can have a positive impact on student's mental well-being.  
            </Text>
          </div>
        </div>
      </div>
    </Constrain>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    var lazyVideos = [].slice.call(document.querySelectorAll("video.lazy"));

    if ("IntersectionObserver" in window) {
      var lazyVideoObserver = new IntersectionObserver(function(entries, observer) {
        entries.forEach(function(video) {
          if (video.isIntersecting) {
            for (var source in video.target.children) {
              var videoSource = video.target.children[source];
              if (typeof videoSource.tagName === "string" && videoSource.tagName === "SOURCE") {
                videoSource.src = videoSource.dataset.src;
              }
            }

            video.target.load();
            video.target.classList.remove("lazy");
            lazyVideoObserver.unobserve(video.target);
          }
        });
      });

      lazyVideos.forEach(function(lazyVideo) {
        lazyVideoObserver.observe(lazyVideo);
      });
    }

    var playOnHoverVideos = [].slice.call(document.querySelectorAll("video.play-on-hover"));


    if ("IntersectionObserver" in window && window.innerWidth < 999) {
      // var playOnHoverVideosObserver = new IntersectionObserver(function(entries, observer) {
      //   entries.forEach(function(video) {
      //     if (video.isIntersecting) {
      //       if (video.target.paused) {
      //         video.target.play();
      //       }
      //     } else {
      //       if (!video.target.paused) {
      //         video.target.pause();
      //       }
      //     }
      //   });
      // });

      // playOnHoverVideos.forEach(function(video) {
      //   playOnHoverVideosObserver.observe(video);
      // });
    } else {  
      playOnHoverVideos.forEach(function(video) {
        video.addEventListener("mouseover", function() {
          video.play();
        });
  
        video.addEventListener("mouseout", function() {
          video.pause();
        });
      });
    }

  });
</script>